//crutch
.toggle-all{
    position: absolute;
    top: -55px;
    z-index:9999;
    height: 40px;
    width: 40px;
    &:hover{
        cursor: pointer;
    }
}
.destroy{
    &:hover{
        cursor: pointer;
    }
}